.body {
    display: flex;
    .description {
        width: 50%;
    }
    app-movie-list {
        width: 50%;
        background-color: #ccc;
        margin-left: auto;
    }
}
@media only screen and (max-width: 600px) {
    .body {
        display: inline;
        .description {
            width: 100%;
        }
        app-movie-list {
            width: 100%;
            background-color: #ccc;
        }
    }
}
